
<!-- <section class="blog__categories">
  <div class="container">
      <ul>
          <a class="all-link btn btn-sm btn-primary active" href="#">View All</a>
          <a class="category-link btn btn-sm btn-primary" data-category="work1" href="#">work1</a>
          <a class="category-link btn btn-sm btn-primary" data-category="fun1" href="#">fun1</a>
          <a class="category-link btn btn-sm btn-primary" data-category="work2" href="#">work2</a>
          <a class="category-link btn btn-sm btn-primary" data-category="Culture" href="#">Culture</a>
          <a class="category-link btn btn-sm btn-primary" data-category="E-Commerce" href="#">E-Commerce</a>
          <a class="category-link btn btn-sm btn-primary" data-category="Development" href="#">Development</a>
      </ul>
  </div>
</section> -->

	<section class="card-container">
		<div class="grid-container">
      {%- for project in sorted_projects -%}
      

        <div class="blog-card">
					<div class="blog-category">
            {% for category in project.categories %}  <a> {{ category }}</a> {% endfor %}
          </div>
					<div class="card-header">
          <a href="{% if project.redirect %}{{ project.redirect }}{% else %}{{ project.url | relative_url }}{% endif %}">  
            {% if project.img %}
        {%
          include figure.liquid
          loading="eager"
          path=project.img
          sizes = "250px"
          alt="project thumbnail"
        %}
      {% endif %}
      </a>
          </div>
					<div class="card-main">
              <h5 style="font-weight: 500;">
              <a href="{% if project.redirect %}{{ project.redirect }}{% else %}{{ project.url | relative_url }}{% endif %}"> 
                {{ project.title }}
                </a>
                </h5>
              <p>{{ project.description | strip_html | truncate: 200  }}</p>

          </div>
          <div class="card-bottom">
            <span class="tag tag-teal">{{project.tags}}</span>
          </div>
         
          </div>
        {%- endfor %}							
        
        </div>
	</section>

  <button class="show-more btn">View More</button>
  <a class="top" href="#">Back to Top</a>

